body {
	background: #fff;
	color: #000;
	font-size: 16px;
}

.site-header {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
}

.site-header h1 {
	text-align: center;
	text-transform: uppercase;
}

main {
	min-height: 50vh;
	padding: 50px;
}

.site-footer {
	width: 100%;
	margin: 20px 0 0 0;
	padding: 5px 0;
	background: #ddd;
	text-align: center;	
}